@model VIVEcms.Models.ViewModels.LayoutModel

<!-- Begin mobile menu -->
<a href="javascript:;" id="btn-close-mobile-menu"></a>
<div class="mobile-menu-wrapper">
    <div class="mobile-menu-content">
        <div class="menu-main-menu-container">
            <ul class="mobile-main-nav" id="mobile_main_menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-906" id="menu-item-906">
                    <a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-905" id="menu-item-905"><a href="index.html">Home 1</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-904" id="menu-item-904"><a href="index2.html">Home 2</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252" id="menu-item-1252"><a href="index3.html">Home 3</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1434" id="menu-item-1434"><a href="index4.html">Home 4</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1682 current_page_item menu-item-1707" id="menu-item-1707"><a aria-current="page" href="index5.html">Home 5</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1960" id="menu-item-1960"><a href="index6.html">Home 6</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2169" id="menu-item-2169"><a href="index7.html">Home 7</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2383" id="menu-item-2383"><a href="index8.html">Home 8</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2558" id="menu-item-2558"><a href="index9.html">Home 9</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16" id="menu-item-16">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3165" id="menu-item-3165"><a href="aboutus1.html">About us 1</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3204" id="menu-item-3204"><a href="aboutus2.html">About us 2</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3256" id="menu-item-3256"><a href="aboutus3.html">About us 3</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3367" id="menu-item-3367"><a href="ourteam.html">Our Team</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17" id="menu-item-17">
                    <a href="#">Classes</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2954" id="menu-item-2954"><a href="classes.html">All Classes</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2986" id="menu-item-2986"><a href="singleclass1.html">Single Class 1</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3102" id="menu-item-3102"><a href="singleclass2.html">Single Class 2</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-18" id="menu-item-18">
                    <a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3682" id="menu-item-3682"><a href="bloggrid.html">Blog Grid</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3740" id="menu-item-3740"><a href="bloggridoverlay.html">Blog Grid Overlay</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3812" id="menu-item-3812"><a href="blogmetro.html">Blog Metro</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3841" id="menu-item-3841"><a href="blogmetrooverlay.html">Blog Metro Overlay</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3887" id="menu-item-3887"><a href="blogclassic.html">Blog Classic</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3979" id="menu-item-3979"><a href="bloglist.html">Blog List</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2951" id="menu-item-2951">
                    <a href="shop3columns.html">Shop</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101" id="menu-item-4101"><a href="index.html">Product List</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-4010" id="menu-item-4010"><a href="singleproduct.html">Single Product</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4021" id="menu-item-4021">
                            <a href="#">Shop Layouts</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4023" id="menu-item-4023"><a href="shop3columns.html">Shop 3 Columns</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4022" id="menu-item-4022"><a href="index.html">Shop 4 Columns</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-20" id="menu-item-20">
                    <a href="#">Contact</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3376" id="menu-item-3376"><a href="contact1.html">Contact 1</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3465" id="menu-item-3465"><a href="contact2.html">Contact 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End mobile menu -->

<!-- MEGA MENUE template -->
<div class="" id="wrapper">
    <div class="main-menu-wrapper" id="elementor-header">
        <div class="elementor elementor-1656" data-elementor-id="1656" data-elementor-type="wp-post">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-bfcb090 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="bfcb090" data-settings='{"background_background":"classic","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9d8be23" data-element_type="column" data-id="9d8be23" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-2cdf4c1 elementor-widget__width-auto elementor-widget elementor-widget-image" data-element_type="widget" data-id="2cdf4c1" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <style>
                                        /*! elementor - v3.21.0 - 08-05-2024 */
                                        .elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}
                                    </style>
                                    <a href="index.html">
                                        <!-- NOTICE: Added ~/ to image -->
                                        <img alt="" class="attachment-large size-large wp-image-31" height="68" src="~/images/logo@2x.png" width="132"> </img>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d3768f0 elementor-hidden-tablet elementor-hidden-mobile" data-element_type="column" data-id="d3768f0" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-b7c4f57 elementor-widget__width-auto elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-vive-navigation-menu" data-element_type="widget" data-id="b7c4f57" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-navigation-menu.default">
                                <div class="elementor-widget-container">
                                    <div class="themegoods-navigation-wrapper menu_style2">
                                        <div class="menu-main-menu-container">
                                            <ul class="nav" id="nav_menu40">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children arrow elementor-megamenu megamenu arrow">
                                                    <a href="index.html"><span class="vive-menu-title">Home</span></a>
                                                    <div class="elementor-megamenu-wrapper">
                                                        <div class="elementor elementor-4307" data-elementor-id="4307" data-elementor-type="wp-post">
                                                            <section class="elementor-section elementor-top-section elementor-element elementor-element-b40bdd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="b40bdd5" data-settings='{"background_background":"classic","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                                                <div class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0168e65" data-element_type="column" data-id="0168e65" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-4e21d3f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="4e21d3f" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                                                                <div class="elementor-container elementor-column-gap-default">
                                                                                    <!-- Mega Menu Images Block 1 -->
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-d20e02e" data-element_type="column" data-id="d20e02e" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-c6f3d2a elementor-widget elementor-widget-image" data-element_type="widget" data-id="c6f3d2a" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4325" fetchpriority="high" height="350" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site.jpg" srcset="~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site.jpg 350w, ~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-300x300.jpg 300w, ~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-150x150.jpg 150w, ~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-109x109.jpg 109w, ~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-100x100.jpg 100w, ~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-959f773" data-element_type="column" data-id="959f773" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-f2be7b5 elementor-widget elementor-widget-image" data-element_type="widget" data-id="f2be7b5" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index2.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4330" height="350" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, ~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, ~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, ~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, ~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, ~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-5357265" data-element_type="column" data-id="5357265" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-c511583 elementor-widget elementor-widget-image" data-element_type="widget" data-id="c511583" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index3.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4333" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, ~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, ~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, ~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, ~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, ~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-bdfd960" data-element_type="column" data-id="bdfd960" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-f994e78 elementor-widget elementor-widget-image" data-element_type="widget" data-id="f994e78" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index4.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4335" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, ~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, ~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, ~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, ~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, ~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-f68aa5b" data-element_type="column" data-id="f68aa5b" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-63abd68 elementor-widget elementor-widget-image" data-element_type="widget" data-id="63abd68" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index5.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4336" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, ~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, ~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, ~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, ~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, ~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </section>
                                                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-5a0483b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="5a0483b" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                                                                <div class="elementor-container elementor-column-gap-default">
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-9ac0f84" data-element_type="column" data-id="9ac0f84" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-ec418dd elementor-widget elementor-widget-image" data-element_type="widget" data-id="ec418dd" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index6.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4338" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, ~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, ~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, ~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, ~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, ~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-30ee27c" data-element_type="column" data-id="30ee27c" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-f73340c elementor-widget elementor-widget-image" data-element_type="widget" data-id="f73340c" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index7.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4339" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, ~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, ~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, ~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, ~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, ~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-f9ed876" data-element_type="column" data-id="f9ed876" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-48aadd9 elementor-widget elementor-widget-image" data-element_type="widget" data-id="48aadd9" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index8.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4340" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, ~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, ~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, ~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, ~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, ~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-c226f10" data-element_type="column" data-id="c226f10" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                                            <div class="elementor-element elementor-element-23a41c8 elementor-widget elementor-widget-image" data-element_type="widget" data-id="23a41c8" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                                <div class="elementor-widget-container">
                                                                                                    <a href="index9.html">
                                                                                                        <img alt="" class="attachment-large size-large wp-image-4341" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, ~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, ~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, ~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, ~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, ~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> 
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home"><a href="index.html"><span class="vive-menu-title">Home 1</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index2.html"><span class="vive-menu-title">Home 2</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index3.html"><span class="vive-menu-title">Home 3</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index4.html"><span class="vive-menu-title">Home 4</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1682 current_page_item"><a href="index5.html"><span class="vive-menu-title">Home 5</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index6.html"><span class="vive-menu-title">Home 6</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index7.html"><span class="vive-menu-title">Home 7</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index8.html"><span class="vive-menu-title">Home 8</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index9.html"><span class="vive-menu-title">Home 9</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                    <a href="#"><span class="vive-menu-title">Pages</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="aboutus1.html"><span class="vive-menu-title">About us 1</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="aboutus2.html"><span class="vive-menu-title">About us 2</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="aboutus3.html"><span class="vive-menu-title">About us 3</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="ourteam.html"><span class="vive-menu-title">Our Team</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                    <a href="#"><span class="vive-menu-title">Classes</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="classes.html"><span class="vive-menu-title">All Classes</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="singleclass1.html"><span class="vive-menu-title">Single Class 1</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="singleclass2.html"><span class="vive-menu-title">Single Class 2</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                    <a href="#"><span class="vive-menu-title">Blog</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="bloggrid.html"><span class="vive-menu-title">Blog Grid</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="bloggridoverlay.html"><span class="vive-menu-title">Blog Grid Overlay</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="blogmetro.html"><span class="vive-menu-title">Blog Metro</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="blogmetrooverlay.html"><span class="vive-menu-title">Blog Metro Overlay</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="blogclassic.html"><span class="vive-menu-title">Blog Classic</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="bloglist.html"><span class="vive-menu-title">Blog List</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children arrow">
                                                    <a href="index.html"><span class="vive-menu-title">Shop</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index.html"><span class="vive-menu-title">Product List</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="singleproduct.html"><span class="vive-menu-title">Single Product</span></a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                            <a href="#"><span class="vive-menu-title">Shop Layouts</span></a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="shop3columns.html"><span class="vive-menu-title">Shop 3 Columns</span></a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index9.html"><span class="vive-menu-title">Shop 4 Columns</span></a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                    <a href="#"><span class="vive-menu-title">Contact</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="contact1.html"><span class="vive-menu-title">Contact 1</span></a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="contact2.html"><span class="vive-menu-title">Contact 2</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b654120" data-element_type="column" data-id="b654120" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-0434910 elementor-widget__width-auto elementor-widget elementor-widget-vive-cart-icon" data-element_type="widget" data-id="0434910" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-cart-icon.default">
                                <div class="elementor-widget-container">
                                    <div class="vive-cart-icon">
                                        <div class="vive-cart-wrapper">
                                            <a class="vive-cart-mini-cart-link" href="index.html" title="View Cart">
                                                <div class="vive-cart-counter">0</div>
                                                <img alt="View Cart" class="vive-cart-icon-image" height="71" src="~/images/shop-bag-icon.png" width="51"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-7cfe269 elementor-widget__width-auto elementor-hidden-mobile elementor-widget elementor-widget-button" data-element_type="widget" data-id="7cfe269" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                        <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-rotate" href="membership.html">
                                            <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-text">Join Membership</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-d1f2195 elementor-widget__width-auto elementor-hidden-desktop elementor-view-default elementor-widget elementor-widget-icon" data-element_type="widget" data-id="d1f2195" data-settings='{"vive_ext_link_sidemenu":"true","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="icon.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-icon-wrapper">
                                        <a class="elementor-icon" href="#">
                                            <i aria-hidden="true" class="fas fa-stream"></i> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- STICKY HEADER -->
    <div class="main-menu-wrapper" id="elementor-sticky-header">
               <div class="elementor elementor-1656" data-elementor-id="1656" data-elementor-type="wp-post">
                  <section class="elementor-section elementor-top-section elementor-element elementor-element-bfcb090 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="bfcb090" data-settings='{"background_background":"classic","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                     <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9d8be23" data-element_type="column" data-id="9d8be23" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                           <div class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-2cdf4c1 elementor-widget__width-auto elementor-widget elementor-widget-image" data-element_type="widget" data-id="2cdf4c1" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                 <div class="elementor-widget-container">
                                    <a href="index.html">
                                    <img alt="" class="attachment-large size-large wp-image-31" height="68" src="~/images/logo@2x.png" width="132"/> </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d3768f0 elementor-hidden-tablet elementor-hidden-mobile" data-element_type="column" data-id="d3768f0" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                           <div class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-b7c4f57 elementor-widget__width-auto elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-vive-navigation-menu" data-element_type="widget" data-id="b7c4f57" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-navigation-menu.default">
                                 <div class="elementor-widget-container">
                                    <div class="themegoods-navigation-wrapper menu_style2">
                                       <div class="menu-main-menu-container">
                                          <ul class="nav" id="nav_menu1">
                                             <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children arrow elementor-megamenu megamenu arrow">
                                                <a href="index.html"><span class="vive-menu-title">Home</span></a>
                                                <div class="elementor-megamenu-wrapper">
                                                   <div class="elementor elementor-4307" data-elementor-id="4307" data-elementor-type="wp-post">
                                                      <section class="elementor-section elementor-top-section elementor-element elementor-element-b40bdd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="b40bdd5" data-settings='{"background_background":"classic","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                                         <div class="elementor-container elementor-column-gap-default">
                                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0168e65" data-element_type="column" data-id="0168e65" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                               <div class="elementor-widget-wrap elementor-element-populated">
                                                                  <section class="elementor-section elementor-inner-section elementor-element elementor-element-4e21d3f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="4e21d3f" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                                                     <div class="elementor-container elementor-column-gap-default">
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-d20e02e" data-element_type="column" data-id="d20e02e" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-c6f3d2a elementor-widget elementor-widget-image" data-element_type="widget" data-id="c6f3d2a" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4325" fetchpriority="high" height="350" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site.jpg" srcset="~/images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site.jpg 350w, images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-300x300.jpg 300w, images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-150x150.jpg 150w, images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-109x109.jpg 109w, images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-100x100.jpg 100w, images/Vive-Fitness-Gym-WordPress-Theme---Just-another-WordPress-site-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-959f773" data-element_type="column" data-id="959f773" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-f2be7b5 elementor-widget elementor-widget-image" data-element_type="widget" data-id="f2be7b5" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index2.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4330" height="350" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-2---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, images/Home-2---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, images/Home-2---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, images/Home-2---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, images/Home-2---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, images/Home-2---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-5357265" data-element_type="column" data-id="5357265" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-c511583 elementor-widget elementor-widget-image" data-element_type="widget" data-id="c511583" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index3.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4333" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-3---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, images/Home-3---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, images/Home-3---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, images/Home-3---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, images/Home-3---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, images/Home-3---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-bdfd960" data-element_type="column" data-id="bdfd960" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-f994e78 elementor-widget elementor-widget-image" data-element_type="widget" data-id="f994e78" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index4.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4335" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-4---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, images/Home-4---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, images/Home-4---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, images/Home-4---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, images/Home-4---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, images/Home-4---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-f68aa5b" data-element_type="column" data-id="f68aa5b" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-63abd68 elementor-widget elementor-widget-image" data-element_type="widget" data-id="63abd68" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index5.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4336" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-5---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, images/Home-5---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, images/Home-5---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, images/Home-5---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, images/Home-5---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, images/Home-5---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </section>
                                                                  <section class="elementor-section elementor-inner-section elementor-element elementor-element-5a0483b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="5a0483b" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                                                     <div class="elementor-container elementor-column-gap-default">
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-9ac0f84" data-element_type="column" data-id="9ac0f84" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-ec418dd elementor-widget elementor-widget-image" data-element_type="widget" data-id="ec418dd" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index6.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4338" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-6---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, images/Home-6---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, images/Home-6---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, images/Home-6---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, images/Home-6---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, images/Home-6---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-30ee27c" data-element_type="column" data-id="30ee27c" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-f73340c elementor-widget elementor-widget-image" data-element_type="widget" data-id="f73340c" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index7.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4339" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-7---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, images/Home-7---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, images/Home-7---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, images/Home-7---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, images/Home-7---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, images/Home-7---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-f9ed876" data-element_type="column" data-id="f9ed876" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-48aadd9 elementor-widget elementor-widget-image" data-element_type="widget" data-id="48aadd9" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index8.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4340" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-8---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, images/Home-8---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, images/Home-8---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, images/Home-8---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, images/Home-8---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, images/Home-8---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-c226f10" data-element_type="column" data-id="c226f10" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                                           <div class="elementor-widget-wrap elementor-element-populated">
                                                                              <div class="elementor-element elementor-element-23a41c8 elementor-widget elementor-widget-image" data-element_type="widget" data-id="23a41c8" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                                                 <div class="elementor-widget-container">
                                                                                    <a href="index9.html">
                                                                                    <img alt="" class="attachment-large size-large wp-image-4341" height="350" loading="lazy" sizes="(max-width: 350px) 100vw, 350px" src="~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme.jpg" srcset="~/images/Home-9---Vive-Fitness-Gym-WordPress-Theme.jpg 350w, images/Home-9---Vive-Fitness-Gym-WordPress-Theme-300x300.jpg 300w, images/Home-9---Vive-Fitness-Gym-WordPress-Theme-150x150.jpg 150w, images/Home-9---Vive-Fitness-Gym-WordPress-Theme-109x109.jpg 109w, images/Home-9---Vive-Fitness-Gym-WordPress-Theme-100x100.jpg 100w, images/Home-9---Vive-Fitness-Gym-WordPress-Theme-120x120.jpg 120w" width="350"/> </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </section>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </section>
                                                   </div>
                                                </div>
                                                <ul class="sub-menu">
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home"><a href="index.html"><span class="vive-menu-title">Home 1</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index2.html"><span class="vive-menu-title">Home 2</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index3.html"><span class="vive-menu-title">Home 3</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index4.html"><span class="vive-menu-title">Home 4</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1682 current_page_item"><a href="index5.html"><span class="vive-menu-title">Home 5</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index6.html"><span class="vive-menu-title">Home 6</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index7.html"><span class="vive-menu-title">Home 7</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index8.html"><span class="vive-menu-title">Home 8</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index9.html"><span class="vive-menu-title">Home 9</span></a></li>
                                                </ul>
                                             </li>
                                             <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                <a href="#"><span class="vive-menu-title">Pages</span></a>
                                                <ul class="sub-menu">
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="aboutus1.html"><span class="vive-menu-title">About us 1</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="aboutus2.html"><span class="vive-menu-title">About us 2</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="aboutus3.html"><span class="vive-menu-title">About us 3</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="ourteam.html"><span class="vive-menu-title">Our Team</span></a></li>
                                                </ul>
                                             </li>
                                             <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                <a href="#"><span class="vive-menu-title">Classes</span></a>
                                                <ul class="sub-menu">
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="classes.html"><span class="vive-menu-title">All Classes</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="singleclass1.html"><span class="vive-menu-title">Single Class 1</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="singleclass2.html"><span class="vive-menu-title">Single Class 2</span></a></li>
                                                </ul>
                                             </li>
                                             <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                <a href="#"><span class="vive-menu-title">Blog</span></a>
                                                <ul class="sub-menu">
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="bloggrid.html"><span class="vive-menu-title">Blog Grid</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="bloggridoverlay.html"><span class="vive-menu-title">Blog Grid Overlay</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="blogmetro.html"><span class="vive-menu-title">Blog Metro</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="blogmetrooverlay.html"><span class="vive-menu-title">Blog Metro Overlay</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="blogclassic.html"><span class="vive-menu-title">Blog Classic</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="bloglist.html"><span class="vive-menu-title">Blog List</span></a></li>
                                                </ul>
                                             </li>
                                             <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children arrow">
                                                <a href="index.html"><span class="vive-menu-title">Shop</span></a>
                                                <ul class="sub-menu">
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index.html"><span class="vive-menu-title">Product List</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-product"><a href="singleproduct.html"><span class="vive-menu-title">Single Product</span></a></li>
                                                   <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                      <a href="#"><span class="vive-menu-title">Shop Layouts</span></a>
                                                      <ul class="sub-menu">
                                                         <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="shop3columns.html"><span class="vive-menu-title">Shop 3 Columns</span></a></li>
                                                         <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index9.html"><span class="vive-menu-title">Shop 4 Columns</span></a></li>
                                                      </ul>
                                                   </li>
                                                </ul>
                                             </li>
                                             <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children arrow">
                                                <a href="#"><span class="vive-menu-title">Contact</span></a>
                                                <ul class="sub-menu">
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="contact1.html"><span class="vive-menu-title">Contact 1</span></a></li>
                                                   <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="contact2.html"><span class="vive-menu-title">Contact 2</span></a></li>
                                                </ul>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b654120" data-element_type="column" data-id="b654120" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                           <div class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-0434910 elementor-widget__width-auto elementor-widget elementor-widget-vive-cart-icon" data-element_type="widget" data-id="0434910" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-cart-icon.default">
                                 <div class="elementor-widget-container">
                                    <div class="vive-cart-icon">
                                       <div class="vive-cart-wrapper">
                                          <a class="vive-cart-mini-cart-link" href="index.html" title="View Cart">
                                             <div class="vive-cart-counter">0</div>
                                             <img alt="View Cart" class="vive-cart-icon-image" height="71" src="~/images/shop-bag-icon.png" width="51"/>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="elementor-element elementor-element-7cfe269 elementor-widget__width-auto elementor-hidden-mobile elementor-widget elementor-widget-button" data-element_type="widget" data-id="7cfe269" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="button.default">
                                 <div class="elementor-widget-container">
                                    <div class="elementor-button-wrapper">
                                       <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-rotate" href="membership.html">
                                       <span class="elementor-button-content-wrapper">
                                       <span class="elementor-button-text">Join Membership</span>
                                       </span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="elementor-element elementor-element-d1f2195 elementor-widget__width-auto elementor-hidden-desktop elementor-view-default elementor-widget elementor-widget-icon" data-element_type="widget" data-id="d1f2195" data-settings='{"vive_ext_link_sidemenu":"true","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="icon.default">
                                 <div class="elementor-widget-container">
                                    <div class="elementor-icon-wrapper">
                                       <a class="elementor-icon" href="#">
                                       <i aria-hidden="true" class="fas fa-stream"></i> </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
            </div>
