@model VIVEcms.Models.ViewModels.PageViewModel<VIVEcms.Models.Pages.HomePage>
@using EPiServer.Core
@using VIVEcms.Models.Blocks
@inject EPiServer.IContentLoader ContentLoader

<div class="no-title" id="page-content-wrapper">
   <div class="inner">
      <!-- Begin main content -->
      <div class="inner-wrapper">
         <div class="sidebar-content fullwidth">
               <div class="elementor elementor-1682" data-elementor-id="1682" data-elementor-type="wp-page">

                        @* ===== HEADING SECTION ===== *@
                        @if (Model.CurrentPage.ShowHeadingSection)
                        {
                           <section class="elementor-section elementor-top-section elementor-element elementor-element-f3dc1e3 elementor-section-height-min-height elementor-section-items-top elementor-section-content-top elementor-section-stretched elementor-section-boxed elementor-section-height-default" data-element_type="section" data-id="f3dc1e3" data-settings='{"stretch_section":"section-stretched","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                                      
                          @await Html.PartialAsync(
                              "~/Views/HomePage/Sections/_HeadingSection.cshtml",
                              Model.CurrentPage)

                           </section>
                        }

                        @* ===== OUR CLASSES SECTION ===== *@
                        @if (Model.CurrentPage.ShowOurClassesSection)
                        {
                           <section class="elementor-section elementor-top-section elementor-element elementor-element-281f7df elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="281f7df" data-settings='{"stretch_section":"section-stretched","background_background":"classic","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                           
                           @await Html.PartialAsync(
                               "~/Views/HomePage/Sections/_OurClassesSection.cshtml",
                               Model.CurrentPage)

                           </section>
                        }
                         
                        @* ===== SERVICES SECTION ===== *@
                        @if (Model.CurrentPage.ShowServicesSection)
                        {
                           <section class="elementor-section elementor-top-section elementor-element elementor-element-faa80d0 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="faa80d0" data-settings='{"stretch_section":"section-stretched","background_background":"classic","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                           
                           
                          @await Html.PartialAsync(
                              "~/Views/HomePage/Sections/_ServicesSection.cshtml",
                              Model.CurrentPage)
                              
                           </section>
                        }
                           
                           <section class="elementor-section elementor-top-section elementor-element elementor-element-a75f932 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="a75f932" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b5f223d" data-element_type="column" data-id="b5f223d" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-0fd4627 elementor-widget__width-auto elementor-widget elementor-widget-image" data-element_type="widget" data-id="0fd4627" data-settings='{"vive_ext_is_smoove":"true","vive_ext_smoove_disable":"769","vive_ext_smoove_duration":1200,"vive_ext_smoove_scalex":{"unit":"px","size":0.6999999999999999555910790149937383830547332763671875,"sizes":[]},"vive_ext_smoove_scaley":{"unit":"px","size":0.6999999999999999555910790149937383830547332763671875,"sizes":[]},"vive_ext_smoove_translatey":{"unit":"px","size":50,"sizes":[]},"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_smoove_rotatex":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatey":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatex":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewx":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewy":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_transform_originx":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_transform_originy":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_perspective":{"unit":"px","size":1000,"sizes":[]},"vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                          <div class="elementor-widget-container">
                                             <img alt="" class="attachment-large size-large wp-image-211" decoding="async" height="48" loading="lazy" src="images/gym-icon.png" width="76"/>
                                          </div>
                                       </div>
                                       <div class="elementor-element elementor-element-bb83a95 elementor-widget elementor-widget-vive-animated-text" data-element_type="widget" data-id="bb83a95" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-animated-text.default">
                                          <div class="elementor-widget-container">
                                             <div class="themegoods-animated-text text-alignment-left transition-bottom overflow-hidden" data-delimiter="sentence" data-transition="100" data-transition-delay="50" data-transition-duration="800">
                                                <h2>
                                                   Powered by   
                                                </h2>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="elementor-element elementor-element-f17b02b elementor-widget elementor-widget-vive-animated-text" data-element_type="widget" data-id="f17b02b" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-animated-text.default">
                                          <div class="elementor-widget-container">
                                             <div class="themegoods-animated-text text-alignment-left transition-bottom overflow-hidden" data-delimiter="sentence" data-transition="100" data-transition-delay="100" data-transition-duration="800">
                                                <h2>
                                                   fitness &amp;    
                                                </h2>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="elementor-element elementor-element-b585b1e elementor-widget elementor-widget-vive-animated-text" data-element_type="widget" data-id="b585b1e" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-animated-text.default">
                                          <div class="elementor-widget-container">
                                             <div class="themegoods-animated-text text-alignment-left transition-bottom overflow-hidden" data-delimiter="sentence" data-transition="100" data-transition-delay="150" data-transition-duration="800">
                                                <h2>
                                                   inspired 
                                                </h2>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="elementor-element elementor-element-81dd1be elementor-widget elementor-widget-vive-animated-text" data-element_type="widget" data-id="81dd1be" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-animated-text.default">
                                          <div class="elementor-widget-container">
                                             <div class="themegoods-animated-text text-alignment-left transition-bottom overflow-hidden" data-delimiter="sentence" data-transition="100" data-transition-delay="200" data-transition-duration="800">
                                                <h2>
                                                   by helping   
                                                </h2>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="elementor-element elementor-element-c94fc55 elementor-widget elementor-widget-vive-animated-text" data-element_type="widget" data-id="c94fc55" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-animated-text.default">
                                          <div class="elementor-widget-container">
                                             <div class="themegoods-animated-text text-alignment-left transition-bottom overflow-hidden" data-delimiter="sentence" data-transition="100" data-transition-delay="250" data-transition-duration="800">
                                                <h2>
                                                   Others   
                                                </h2>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ac70797" data-element_type="column" data-id="ac70797" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <section class="elementor-section elementor-inner-section elementor-element elementor-element-2f3b21d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="2f3b21d" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                          <div class="elementor-container elementor-column-gap-default">
                                             <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8545d89" data-element_type="column" data-id="8545d89" data-settings='{"vive_ext_is_smoove":"true","vive_ext_smoove_disable":"769","vive_ext_smoove_duration":1200,"vive_ext_smoove_translatey":{"unit":"px","size":50,"sizes":[]},"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_smoove_scalex":{"unit":"px","size":1,"sizes":[]},"vive_ext_smoove_scaley":{"unit":"px","size":1,"sizes":[]},"vive_ext_smoove_rotatex":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatey":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatex":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewx":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewy":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_transform_originx":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_transform_originy":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_perspective":{"unit":"px","size":1000,"sizes":[]},"vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                   <div class="elementor-element elementor-element-880ee1e elementor-widget elementor-widget-image" data-element_type="widget" data-id="880ee1e" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                      <div class="elementor-widget-container">
                                                         <img alt="" class="attachment-vive-gallery-masonry size-vive-gallery-masonry wp-image-1837" decoding="async" height="660" loading="lazy" sizes="(max-width: 440px) 100vw, 440px" src="images/afro-athlete-woman-running-outdoors-9CEQYM8-440x660.jpg" srcset="images/afro-athlete-woman-running-outdoors-9CEQYM8-440x660.jpg 440w, images/afro-athlete-woman-running-outdoors-9CEQYM8-200x300.jpg 200w, images/afro-athlete-woman-running-outdoors-9CEQYM8-600x900.jpg 600w, images/afro-athlete-woman-running-outdoors-9CEQYM8-147x220.jpg 147w, images/afro-athlete-woman-running-outdoors-9CEQYM8.jpg 683w" width="440"/>
                                                      </div>
                                                   </div>
                                                   <div class="elementor-element elementor-element-8b5648e elementor-widget elementor-widget-heading" data-element_type="widget" data-id="8b5648e" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
                                                      <div class="elementor-widget-container">
                                                         <h2 class="elementor-heading-title elementor-size-default">Motivate</h2>
                                                      </div>
                                                   </div>
                                                   <div class="elementor-element elementor-element-373b3ef elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="373b3ef" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="text-editor.default">
                                                      <div class="elementor-widget-container">
                                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-84dfe7a" data-element_type="column" data-id="84dfe7a" data-settings='{"vive_ext_is_smoove":"true","vive_ext_smoove_disable":"769","vive_ext_smoove_duration":1200,"vive_ext_smoove_translatey":{"unit":"px","size":50,"sizes":[]},"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_smoove_scalex":{"unit":"px","size":1,"sizes":[]},"vive_ext_smoove_scaley":{"unit":"px","size":1,"sizes":[]},"vive_ext_smoove_rotatex":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatey":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_rotatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatex":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_translatez":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewx":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_skewy":{"unit":"px","size":0,"sizes":[]},"vive_ext_smoove_transform_originx":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_transform_originy":{"unit":"px","size":50,"sizes":[]},"vive_ext_smoove_perspective":{"unit":"px","size":1000,"sizes":[]},"vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                   <div class="elementor-element elementor-element-8a17380 elementor-widget elementor-widget-image" data-element_type="widget" data-id="8a17380" data-settings='{"vive_image_is_animation":"false","vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="image.default">
                                                      <div class="elementor-widget-container">
                                                         <img alt="" class="attachment-vive-gallery-masonry size-vive-gallery-masonry wp-image-1839" decoding="async" height="660" loading="lazy" sizes="(max-width: 440px) 100vw, 440px" src="images/couple-of-young-fitness-people-exercising-with-dum-HAN9UYM-440x660.jpg" srcset="images/couple-of-young-fitness-people-exercising-with-dum-HAN9UYM-440x660.jpg 440w, images/couple-of-young-fitness-people-exercising-with-dum-HAN9UYM-200x300.jpg 200w, images/couple-of-young-fitness-people-exercising-with-dum-HAN9UYM-600x900.jpg 600w, images/couple-of-young-fitness-people-exercising-with-dum-HAN9UYM-147x220.jpg 147w, images/couple-of-young-fitness-people-exercising-with-dum-HAN9UYM.jpg 683w" width="440"/>
                                                      </div>
                                                   </div>
                                                   <div class="elementor-element elementor-element-b9e26b6 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="b9e26b6" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="heading.default">
                                                      <div class="elementor-widget-container">
                                                         <h2 class="elementor-heading-title elementor-size-default">Inspire</h2>
                                                      </div>
                                                   </div>
                                                   <div class="elementor-element elementor-element-6ec520b elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="6ec520b" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="text-editor.default">
                                                      <div class="elementor-widget-container">
                                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </section>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section class="elementor-section elementor-top-section elementor-element elementor-element-35ee381 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="35ee381" data-settings='{"stretch_section":"section-stretched","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-303c055" data-element_type="column" data-id="303c055" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-3cc08c7 elementor-widget elementor-widget-vive-gallery-horizontal" data-element_type="widget" data-id="3cc08c7" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="vive-gallery-horizontal.default">
                                          <div class="elementor-widget-container">
                                             <div class="horizontal-gallery-wrapper" data-autoplay="0" data-fullscreen="0" data-loop="0" data-navigation="0" data-pagination="0" data-parallax="0" id="horizontal-gallery-3cc08c7">
                                                <div class="horizontal-gallery-cell" style="margin-right:40px">
                                                   <img alt="" class="horizontal-gallery-cell-img" data-flickity-lazyload="images/woman-training-with-dumbbells-in-the-gym-2021-07-15-16-56-14-utc.jpg" style="height:600px;"/>
                                                </div>
                                                <div class="horizontal-gallery-cell" style="margin-right:40px">
                                                   <img alt="" class="horizontal-gallery-cell-img" data-flickity-lazyload="images/athletes-foot-close-up-PWPQP4Z-1024x684.jpg" style="height:600px;"/>
                                                </div>
                                                <div class="horizontal-gallery-cell" style="margin-right:40px">
                                                   <img alt="" class="horizontal-gallery-cell-img" data-flickity-lazyload="images/attractive-woman-drinking-water-from-sport-bottle-2021-04-06-18-09-19-utc-1024x1024.jpg" style="height:600px;"/>
                                                </div>
                                                <div class="horizontal-gallery-cell" style="margin-right:40px">
                                                   <img alt="" class="horizontal-gallery-cell-img" data-flickity-lazyload="images/people-exercising-at-fitness-gym-2021-04-02-19-54-26-utc.jpg" style="height:600px;"/>
                                                </div>
                                                <div class="horizontal-gallery-cell" style="margin-right:40px">
                                                   <img alt="" class="horizontal-gallery-cell-img" data-flickity-lazyload="images/trainer8.jpg" style="height:600px;"/>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>

                           
                        @* ===== OUR CUSTOMERS SECTION ===== *@
                        @if (Model.CurrentPage.ShowOurCustomersSection)
                        {
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-a38c864 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="a38c864" data-settings='{"stretch_section":"section-stretched","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                        
                        @await Html.PartialAsync(
                            "~/Views/HomePage/Sections/_OurCustomersSection.cshtml",
                            Model.CurrentPage)
                            </section>
                        }
                           

                        @* ===== PRICING SECTION ===== *@
                        @{
                        PricingSectionBlock? pricingBlock = null;
                        if (Model.CurrentPage.PricingSection != null
                            && Model.CurrentPage.PricingSection.FilteredItems.Any())
                        {
                            pricingBlock = ContentLoader.Get<PricingSectionBlock>(
                                Model.CurrentPage.PricingSection.FilteredItems.First().ContentLink);
                        }
                        }
                        @if (Model.CurrentPage.ShowPricingSection && pricingBlock != null)
                        {
                        
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-0a29367 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="0a29367" data-settings='{"stretch_section":"section-stretched","background_background":"classic","shape_divider_top":"tilt","shape_divider_bottom":"tilt","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                        
                        @await Html.PartialAsync(
                            "~/Views/Shared/Blocks/PricingSectionBlock.cshtml",
                            pricingBlock)

                            </section>
                        }
 
                           
                        @* ===== SCHEDULE SECTION ===== *@
                        @{
                        ScheduleSectionBlock? scheduleBlock = null;

                        if (Model.CurrentPage.ScheduleSection != null
                            && Model.CurrentPage.ScheduleSection.FilteredItems.Any())
                        {
                            scheduleBlock = ContentLoader.Get<ScheduleSectionBlock>(
                                Model.CurrentPage.ScheduleSection.FilteredItems.First().ContentLink);
                        }
                        }

                        @if (Model.CurrentPage.ShowScheduleSection && scheduleBlock != null)
                        {
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-946860c elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="946860c" data-settings='{"stretch_section":"section-stretched","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                        
                        
                        @await Html.PartialAsync(
                            "~/Views/Shared/Blocks/ScheduleSectionBlock.cshtml",
                            scheduleBlock)

                            </section>
                        }


                        @* ===== VIVE TRAINER SECTION ===== *@
                        @if (Model.CurrentPage.ShowViveTrainerSection)  
                        {
                           VIVEcms.Models.Blocks.ViveTrainerSectionBlock? viveTrainerBlock = null;

                            if (Model.CurrentPage.ViveTrainerSection != null
                                && Model.CurrentPage.ViveTrainerSection.FilteredItems.Any())
                            {
                                viveTrainerBlock = ContentLoader.Get<VIVEcms.Models.Blocks.ViveTrainerSectionBlock>(
                                    Model.CurrentPage.ViveTrainerSection
                                        .FilteredItems.First().ContentLink);
                            }

                           @if (viveTrainerBlock != null)
                           {
                              <section class="elementor-section elementor-top-section elementor-element elementor-element-6924c51 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="6924c51" data-settings='{"stretch_section":"section-stretched","background_background":"classic","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                              
                               @await Html.PartialAsync(
                                   "~/Views/Shared/Blocks/ViveTrainerSectionBlock.cshtml",
                                   viveTrainerBlock)
                           
                              </section>
                           }
                        }
               </div>
            <div class="comment_disable_clearer"></div>
         </div>
      </div>
      <!-- End main content -->
   </div>
</div>