@* Views/ContactPage/Index.cshtml *@
@model VIVEcms.Models.ViewModels.PageViewModel<VIVEcms.Models.Pages.ContactPage>
@using EPiServer.Core
@using VIVEcms.Models.Blocks
@inject EPiServer.IContentLoader ContentLoader
<!-- Begin content -->
            <div class="no-title" id="page-content-wrapper">
               <div class="inner">
                  <!-- Begin main content -->
                  <div class="inner-wrapper">
                     <div class="sidebar-content fullwidth">
                        <div class="elementor elementor-3374" data-elementor-id="3374" data-elementor-type="wp-page">
                            @* ===== HEADER SECTION ===== *@
                            @if (Model.CurrentPage.ShowHeaderSection)
                            {
                                <section class="elementor-section elementor-top-section elementor-element elementor-element-365c1c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="365c1c6" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                                
                                @await Html.PartialAsync(
                                    "~/Views/ContactPage/Sections/_HeaderSection.cshtml",
                                    Model.CurrentPage)
                                    </section>
                            }
                           
                           <section class="elementor-section elementor-top-section elementor-element elementor-element-f7ae69a elementor-section-height-min-height elementor-section-items-bottom elementor-section-content-bottom elementor-section-stretched elementor-section-full_width elementor-section-height-default" data-element_type="section" data-id="f7ae69a" data-settings='{"stretch_section":"section-stretched","background_background":"classic","vive_ext_is_background_on_scroll":"false"}'>
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-86aa97a elementor-hidden-tablet elementor-hidden-mobile" data-element_type="column" data-id="86aa97a" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                    <div class="elementor-widget-wrap"></div>
                                 </div>
                                 <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d7293e9" data-element_type="column" data-id="d7293e9" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                    <div class="elementor-widget-wrap"></div>
                                 </div>
                              </div>
                           </section>

                            @* ===== SECTION 3: CONTACT FORM ===== *@
                            @if (Model.CurrentPage.ShowContactFormSection)
                            {
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-0cf41b0 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="0cf41b0" data-settings='{"vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                            @await Html.PartialAsync(
                                "~/Views/ContactPage/Sections/_ContactFormSection.cshtml",
                                Model.CurrentPage)
                                </section>
                            }
                            
                           <section class="elementor-section elementor-top-section elementor-element elementor-element-e3614ff elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="e3614ff" data-settings='{"stretch_section":"section-stretched","vive_ext_is_background_parallax":"false","vive_ext_is_background_on_scroll":"false"}'>
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-21c9dea" data-element_type="column" data-id="21c9dea" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}'>
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-67f27d4 elementor-widget elementor-widget-eb-google-map-extended" data-element_type="widget" data-id="67f27d4" data-settings='{"vive_ext_link_sidemenu":"false","vive_ext_link_fullmenu":"false","vive_ext_is_sticky":"false","vive_ext_is_scrollme":"false","vive_ext_is_smoove":"false","vive_ext_is_parallax_mouse":"false","vive_ext_is_infinite":"false","vive_ext_is_fadeout_animation":"false"}' data-widget_type="eb-google-map-extended.default">
                                          <div class="elementor-widget-container">
                                             <div class="eb-map" data-eb-locations='[{"lat":"1.2833754","lng":"103.86072639999998","title":"Pin #1","content":"I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.","pin_icon":""}]' data-eb-map-defaultui="false" data-eb-map-gesture-handling="auto" data-eb-map-infowindow-width="250" data-eb-map-lat="1.2833754" data-eb-map-lng="103.86072639999998" data-eb-map-streetview-control="false" data-eb-map-style='[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]' data-eb-map-type="roadmap" data-eb-map-type-control="true" data-eb-map-type-control-position="TOP_LEFT" data-eb-map-type-control-style="DEFAULT" data-eb-map-zoom="15" data-eb-map-zoom-control="true" data-eb-map-zoom-control-position="RIGHT_BOTTOM" id="eb-map-67f27d4"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                        <div class="comment_disable_clearer"></div>
                     </div>
                  </div>
                  <!-- End main content -->
               </div>
            </div>